HELP.md
/*/target/


### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml

### 手动
/*/mvnw
/*/mvnw.cmd


/*/.mvn/


*/src/main/resources/rebel.xml


lsb-jpalearn/src/main/java/
lsb-jpalearn/src/test/
lsb-mybatis_generator/src/test/
lsb-profiles/src/main/resources/static/
lsb-profiles/src/main/resources/templates/
lsb-scheduledtask/src/test/
lsb-validation/src/test/
src/test/
