<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>hello</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>

<div style="width:500px;margin:20px auto;text-align: center">
    <table align='center' border='1' cellspacing='0'>
        <tr>
            <td>id</td>
            <td>姓名</td>
            <td>年龄</td>
            <td>邮箱</td>
            <td>编辑</td>
            <td>删除</td>
        </tr>
        <tr th:each="c:${page.records}">
            <td th:text="${c.id}"></td>
            <td th:text="${c.name}"></td>
            <td th:text="${c.age}"></td>
            <td th:text="${c.email}"></td>
            <td><a th:href="@{/crud/user/edit(id=${c.id})}">编辑</a></td>
            <td><a th:href="@{/crud/user/delect(id=${c.id})}">删除</a></td>
        </tr>
    </table>
    <br/>
    <div>
        <a th:href="@{/crud/user/list(current=1)}">[首  页]</a>
        <a th:href="@{/crud/user/list(current=${page.current-1})}">[上一页]</a>
        <a th:href="@{/crud/user/list(current=${page.current+1})}">[下一页]</a>
    </div>
    <br/>
    <form action="add" method="post">
        姓名: <input name="name"/> <br/>
        年龄: <input name="age"/> <br/>
        邮箱: <input name="email"/> <br/>
        <button type="submit">提交</button>

    </form>
</div>

</body>
</html>